#logger {
  height: 600px;
  min-height: 600px;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 8px;
  overflow:auto;
}

#level {
  margin-top: 20px;
  margin-bottom: 4px;
}

#status {
  float: right;
  font-style: italic;
  color: #00AA00;
}

#status.warning {
  color: #DD0000;
}

#logger .log {
  font-family:monospace;
  white-space: pre;
}

.level-error .log, .level-warn .log, .level-info .log, .level-verbose .log {
  display: none;
}

.level-error .log.error, .level-warn .log.warn, .level-info .log.info, .level-verbose .log.verbose {
  display: block;
}

.log.error {
  color: #aa0000;
  background: #ffebeb;
}

.log.warn {
  background: #ffffc8;
}

.log.info {
  color: #444444;
}

.log.verbose {
  color: #777777;
}